
html body {
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Muli', sans-serif;
   font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	color:  #f76b5e;
}
li {
	display: inline;
}

figure {
	margin: 0;
	padding: 0;
}

hr{
	margin: 0;
	padding: 0;
}

.img{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.clearfix:after,
.clearfix:before
{
	content: '';
	content: table;
}

.clearfix:after
{
	clear: both;
}

.packages{
	margin-top: 100px;
}

.packages img{
	width: 100%;
}

.packages figure {
	overflow: hidden;
	position: relative;
}

/*--------------header--------------*/

.header-section{
	width:100%;
	position: absolute;
	top: 0;
	z-index: 1;	
}
.header-section::after{
	position: absolute;
    top: 54px;
    right: 0;
    left: 130px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.header-search{
	background-image: url();
}

.header__logo{
	float: left;
}

.nav-bar{
	float: right;
}

.nav-bar ul{
	margin-top:1rem;
	margin-right: 25px;
	padding: 0;
}

.nav-bar ul li a {
	font-family: 'AvenirNextCondensed-Bold';
	font-size: 16px;
	color: #fff;
    padding: 0 10px ;
}

.nav-bar ul li a:hover{
   color: #f76b5e;
}



.dropdown ul li a {
  color: #3c3c3c;
  display: block;
  padding: 10px 30px;
  font-family:'AvenirNextCondensed-Regular';
  font-size: 16px;
  font-weight: 500;
}

.dropdown ul li a:hover{
	color: #f76b5e;
}

.dropdown-menu {
  left: 50%;
  width: 237px;
  margin-left: -118px;
  opacity: 0.9;
  background-color:#ffffff;
  padding: 27px 30px;
}

/*.dropdown-menu ul li a::after{
    position: absolute;
    top: 54px;
    right: 0;
    left: 130px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}*/

.dropdown-toggle::after {
    display:none;
}

.search-here{
	display: none;
	height: 105px;
	background-color:#fff; 
	position: relative;
   
}

input[type="search"]:placeholder-shown{
  font-size: 28px;
  font-weight: bold;
  color: #b6b6b6;
}



.cross{
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}
#search-form{
	
	text-align: center;
}


#s{
	padding: 30px;
	width: 100%;
	border: hidden;
	text-align: center;
	font-size: 30px;
}

#s:focus{
	outline: none;
}

#searchsubmit{
   cursor: pointer;
}


/*--------------hero section----------------*/
.hero-section{
	color: #fff;
	text-align: center;
}

.hero-section img{
	width: 100%;
}

.hero__content {
	position: absolute;
	width: 100%;
    text-transform: uppercase; 
    bottom: 8%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero__content a{
	color: #fff;
}

.banner-sub-title{
	font-size: 14px;
	
}

.banner-title{
 font-family: 'AvenirNextCondensed-Bold';
 font-size:40px;
 display: block;
}


.slide-item {
	position: relative;
	max-width: 100%;
}

a:hover{
	color: #F76B5E ;
	transition: all 0.2s ease ;
	text-decoration: none;
}

/*----------container section------------*/

.col{
	margin: 0 ;
	padding: 15px;
	width: 100%;
}

.package-main-title{
	font-family: 'AvenirNextCondensed-Bold';
	font-weight: bold;
	font-size: 35px;
	color: #324376;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.item-content{
	padding: 30px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
	max-width: 100%;
}
.content-title{
	font-family: 'AvenirNextCondensed-Bold';
	font-size: 28px;
	color: #586BA4;
	margin-bottom: 15px;
}
  

.fa-chevron-right{
	color:  #F76B5E ;
}

.fa-search{
	color: #fff;
}

.view-detail{
	
	margin-top: 30px;	
	position: relative;
	z-index: 1;
}

.view-detail a{
	color: #3C3C3C;
	font-size: 12px;
	font-weight: 800;
}

.view-detail a:hover{
	color:  #f76b5e;
}

.overlay-link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.package-item{
	
   transition: 1s ease;
	position: relative;
}

.package-item:after{
	margin-bottom: 30px;
}
.package-item figure{
	position: relative;
}

.package-item:hover{
	
	box-shadow: 0 1px 19px 13px rgba(0,0,0,0.1);
   transform: scale(1.05);
   transition: 1s ease;
   -webkit-font-smoothing:antialiased;
   -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.03);
    transform: translateZ(0);

}
.activity-section .package-item:hover{
	box-shadow: 0 1px 19px 13px rgba(0,0,0,0.1);
	transform: scale(1.08);
	transition: 1s ease-out;
}

.activity-section figure{
	overflow: hidden;
}

.margin_3{
	margin-bottom: 30px;
}

.view-all{
	
	margin:0 auto;
	padding-top: 5px;
}


.btn-primary{
	border: 1px solid #F76B5E;
	padding: 15px 28px;
	color:#3C3C3C; 
	font-size: 14px;
	font-weight: 800;
	background-color: #fff;
	display: inline-block;
}

.btn-primary:hover{
	background-color: #f76b5e;
	color: #fff;
	transition: 1s ease;
	border: 1px solid #f76b5e;
}


  /*       Activities Section          */


.main-activity{
	background-image: url('lib/images/mainactivity.png');
	background-size:cover;
/*	width: 370px;*/
	height:370px;
}

.activities{
/*	width: 170px;*/
	height: 170px;
}

.activity-1{
	background-image: url('lib/images/activity1.png');
	background-size: cover;

}

.activity-content{
	position: absolute;
	text-align: center;
	font-family:'AvenirNextCondensed-Regular' ;
	font-weight: 600;
	letter-spacing: -0.3px;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.activity-content:hover{
  color: #f76b5e;
}

.featured-activity-content{
	font-size: 25px;
	line-height: 34px;
	
}

/*outbound section*/
 
 .title{
 	font-family: "AvenirNextCondensed-Regular";
 	font-weight: 500;
 	font-size: 35px;
 	font-color:#fff;
 }

 .secondary-package-item:hover{
 	box-shadow: 0 1px 19px 13px rgba(0,0,0,0.1);
   transform: scale(1.03);
   transition: 1s ease;
 }

.outbound-content{
	position: absolute;
	bottom: 50px;
	left: 50px;
}
 

/*destination section */

.destination-featured-content-1{
	position: absolute;
	width: 100%;
	top: 2%;
	left: 50%;	
	transform: translate(-50% ,-2%);
	text-align: center;
}

.destination-featured-content-2 {
	position: absolute;
	width: 100%;
	top: 20%;
	left: 50%;	
	transform: translate(-50%,-20%);
	text-align: center;
}
.destination-featured-content-3{
	position: absolute;
	width: 100%;
	top: 20%;
	left:50%;
	transform: translate(-50%,-20%);
	text-align: center;	
}

.destination-featured-content-4{
	position: absolute;
	width: 100%;
	bottom: 2%;
	left:50%; 
	transform: translate(-50%,-2%);
	text-align: center;
}

.destination-content a{
	color: #fff;
	text-align: center;
}

.destination-content a:hover{
	color: #f76b5e;
}

/*Table section*/ 
.table-responsive{
	padding-top: 15px;
}

thead{
	background-color: #324376;
	color: #fff;
	font-family: 'AvenirNextCondensed-Bold';
	font-size: 22px;
}

.outer-border{
	border: 1px solid #EBEBEB;
}

td{
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #3C3C3C;
}

.outer-border tbody tr:hover{
	background-color: #fdf8ea;
}

.trip-name{
	color: #324376;
}

td a{
	color: #f76b5e;
}


/*about section */

.about__section {
	padding: 120px 0 60px;
	color: #fff;
}

.about__section img {
	width: 100%;
	margin:15px 0; 
}

.giving-back {
	padding-bottom: 6px;
}

.about__page{
	 padding:100px 0 0 0; 
}

.page-title {
    padding: 0 0 15px 0;
	font-family:"AvenirNextCondensed-Bold";
	font-size: 40px;
}

.about-content {
	
	margin-bottom: 30px;
}

 .team-members img{
 	margin:0 30px 0 0;
 }

.btn__holder{
	margin-top: 30px;
}

.secondary-btn {
    display: inline-block;
	padding:10px 40px; 
	border: 1px solid #fff;
	color: #fff;
	font-size: 12px;
	border-radius: 2px;
	text-transform: uppercase;
}

.secondary-btn:hover
{
	background-color: #fff;
	color: #3C3C3C;
	transition: all 0.8s ease-in-out;
}

.sub-title{
	display: block;
	font-size: 35px;
	font-family: 'Journey_light',sans-serif;
	
}
.social{
	font-size: 30px;
	font-family: 'AvenirNextCondensed-Regular';
	font-weight: 300;
}

 .social-link .fa {
 	font-size: 25px;
}


/*testimonail section */

.testimonial-section{
	background-image: url('lib/images/testimonial-background.png');
	text-align: center;
	background-repeat: no-repeat;
    background-position: 270px 25px; 
	margin: 0 auto;
}

.testimonial-content{
	padding: 100px 0;
}

.testimonial-image-holder{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: 0 auto;
}

.testimonie{
	font-family: 'AvenirNextCondensed-Regular';
	font-weight: 600;
	font-size: 22px;
	color: #3C3C3C;
}

.country{
		color: #989797;	
		font-family: 'Muli' sans-serif;	
		font-size: 16px;	
		display:block;
}

/*footer section */

footer{
	background-color: #324376; 
	padding: 40px 0 20px 0;
}

footer ul{
  margin: 0;
  padding: 0;
  color: #fff;
}

footer li {
	display: block;
}


footer ul li a{
    font-family: 'Muli',sans-serif;
	color: #fff;
	font-size: 16px;
    line-height: 1.63;
    text-align: left;
	
}

.footer-head
{   margin-bottom: 15px;
	font-size: 22px;
	color: #fff;
}

.social-link {
	padding-top: 27px;
}

.social-link  a{
	padding: 10px;
}


.form-decoration{
   margin-bottom: 8px ;
   font-size: 14px;
   font-family: 'Muli',sans-serif;
  color: #586BA4;
}

.submit-btn{
	background-color: #586BA4;
	color: #fff;
	padding:10px 40px; 
	border-radius: 2px;
}

.submit-btn:hover{
	background-color: #F76B5E;
    transition: all 0.8s ease-in-out;	
}

.member-of{
    color: #FFFFFF;	
    font-family: "AvenirNextCondensed-Regular";	
    font-size: 17px;	
    font-weight: 500;
    margin: 20px 0 10px 0;
    display: block;
}


.member-logo img{
	padding: 10px;
}


.footer-line{
	background-color: #324376;
}

.copy-right-section{
	padding-top: 20px;
	width: 100%;
}
.copy-right{
	color: #fff;
	padding-left: 82px;
	
}
.craft{
	text-align: right;
	padding-right: 18px;
}

.craft a{
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	
}

.craft a:hover{
	color: #f76b5e;
}
.slick-dots{
	width: 100%;
	bottom: 25px;
	right: 21px;
	text-align: right;
}


.slick-dots li button:before
{
	display: none;
}

.slick-dots li button{
	font-size: 12px;
    line-height: 10px;
	color: #fff;
	padding: 3px 6px;
	font-weight: 900;
    line-height: 1;

}

 .slick-active {
	border: 1px solid #fff;

}

/*              package detail page         */
 .package-detail-sub-title{
  font-family: 'Muli',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3c3c3c;
 
}

.package-detail-section {  
  margin: 50px 0 0 0;
}

.package-detail-section h1{
	padding-bottom: 30px;
}

.content-detail-title{
  font-size: 48px;
  font-family: 'AvenirNextCondensed-Bold';
  font-stretch: condensed;
  text-align: left;
  color: #324376;
  display: block;
}

.trip-fact-section{
	padding:30px 0 0 30px;
}

.trip-fact-section table th {
	border-style: none;
	width: 120px;
	padding: 5px;
}

.trip-fact-section table td{
   border-style: none;
   padding: 5px;
}

.trip-fact{
  font-family:'AvenirNextCondensed-Bold';
  font-size: 28px;
  font-stretch: condensed;
  line-height: 1.07;
  text-align: left;
  color: #586ba4;
}

.fact__title{
  font-weight: 800;
  line-height: 1.07;
  padding-right: 10px;
  color: #586ba4;
}

.some-facts{
 border-right: 1px solid #f9c86c;
 padding:0 30px 0 0;
}

.fact__data{
	 color: #586ba4;
}


/*    outline itinary     */


.outline-itinerary{
   padding: 0;
   margin: 50px 0 40px 0;
   font-family: 'AvenirNextCondensed-Bold';
   line-height: 1.07;
   color: #586ba4;
}

 table tbody th {
	width: 80px;
	font-family: 'Muli',sans-serif;
	font-weight: 800;
	 color: #r;3c3c3c;
	 display: inline-block;
}


 table tbody td {
	
	color: #3c3c3c;
	font-family: 'Muli',sans-serif;
	font-weight: 400;
	
}

table tbody td img {
	padding: 0;
	margin:20px 0; 
	width: 100%;
}

/*detail itinerary*/
.detail-itinerary-title{
  font-family:' AvenirNextCondensed-Bold';
  font-size: 28px;
  line-height: 1.07;
  text-align: left;
  color: #586ba4;
  margin: 70px 0 30px 0;
  padding: 0;
  text-transform: uppercase;
}

.itinerary-detail-title{
	font-weight: bold;
}
#package-detail-page img{
	padding: 20px 0;
}

.enquiry-btn a{
	margin-right: 40px; 
	border: solid 1px #586ba4;
	 color: #586ba4;
}

/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #f76b5e;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}


/*landing-page*/ 
.landing__page{
	padding: 70px 0 100px 0;
}

.landing-page-package-items{
	margin: 50px 0 0 0;
}


/*Media Query*/

@media screen and (max-width:1290px )
{ 
  .header-section{
  	position:relative;
  }

  .header-section:after{
  	display: none;
  }

  .header__logo{
     margin: 10px auto 0;
     float: none;
     text-align: center;
  }

   .nav-bar{
   	float: none;
   	clear: left;
   	text-align: center;

   	width: 100%;
   	color: black;
   }
  
  .hero-section{
  	display: block;
  }

  .nav-bar ul li a{
   	color: #186cac;
   }

   #searchtoggle{
   	color: #007bff;
   }

 }

@media screen and (max-width:768px)
{
	 .burger-nav{
		display:block;
		height:40px;
		width: 100%;
		background:url('lib/images/icon white.png') no-repeat 98% center;
		background-color: #1661a6;
		cursor: pointer;
	}


   .nav-bar ul{
      margin: 0;
      padding: 0;
   }
	
	.menu-primary{
		overflow:hidden;
		background:#505050;
        height: 0;
        display: none;
	}

    .menu-primary.open{
    	height: auto;
    	padding: 0;
    	display: block;
    	width: 100%;
    }

    .navbar ul li{
    	float: none;
    	text-align: left;
    	width: 100%;
    	margin: 0;
    }

    .nav-bar ul li a {
    	color: #fff;
    	padding: 10px;
    	border-bottom: 1px solid #404040;
    	display: block;
    	margin: 0;
    }
	.hero__content{
       display: table;
	}


   

   .testimonial-section {
    	background-position: 25px 25px;
    }

    .hero-section{

		display:block;
	}
  
  .banner-title{
  	font-size: 20px;
  }

  .banner-sub-title{
  	font-size:10px;
  }

  .hero__content p{
    font-size: 8px;
  } 

  .slick-dots li button{
    	font-size: 8px;
    }


    .testimonial-section{
    	background-position: 60px 25px;
    }

}

@media screen and (max-width:480px)
{
	.header__logo img {
		max-width: 100%;
	}

    .sub-title{
    	font-size: 25px;
    }

    .title{
    	font-size: 25px;
    }

    .destination-featured-content-4{
    	bottom: 15%;
    }
   .team-members img{
   	margin: 0;
   	max-width: 100%;
   }

   .packages figure{
   	margin-bottom:30px;
   	padding:0;
   }

}



