.page-title{
	font-family: 'AvenirNextCondensed-Bold';
    font-size:48px;
    color: #324376;
    text-align: left;
}

.about-content{

	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	color: #3c3c3c;
}

/*Team section*/

.our-team-section{
	margin-top: 20px;
}

.our-team{
	font-family: 'AvenirNextCondensed-Bold';
	font-size: 35px;
	color: #324376;
	font-stretch: condensed;
	letter-spacing: -0.5px;
	margin-bottom: 30px;
}

 .team-members{
  float: left;
 }

.our-team-section  h4{
  font-weight: bold;
  color: #3c3c3c;
  margin: 10px 0 30px 0;
}

.designation{
  font-weight: 600;
}


.CSR-section{
  margin: 50px 0 110px 0;
}

.CSR-section img{
   width: 100%;
   margin: 30px 0 ;
}


.CSR-sub-title{
	font-size: 35px;
	color: #324376;
	font-weight: 300;
	margin:  10px 0;
}

.CSR-title{
  font-family: 'AvenirNextCondensed-Bold';
  font-size: 28px;
  font-stretch: condensed;
  line-height: 1.07;
  text-align: left;
  color: #586ba4;
  text-transform: uppercase;
}

.CSR-social {
 
  font-size: 35px;
  color: #324376;
  margin-bottom: 30px;
  font-family: 'AvenirNextCondensed-Bold';
 
}

.secondary-btn{
  border: solid 1px #324376;
  color: #324376;
  font-weight: bold;
  margin-top: 30px;
}

.secondary-btn:hover{
 background-color: #f76b5e;
  color: #fff;
  transition: all 1s ease-in-out;
  border: 1px solid #f76b5e;
}

