@font-face {
    font-family: 'AvenirNextCondensed-Bold';
    src: url("../fonts/AvenirNextCondensed-Bold.woff2") format("woff2"),
    url("../fonts/AvenirNextCondensed-Boldwof") format("wof"),
    url("../fonts/AvenirNextCondensed-Bold.ttf") format("ttf"),
    url("../fonts/AvenirNextCondensed-Bold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'AvenirNextCondensed-Regular';
    src: url("../fonts/AvenirNextCondensed-Regular.woff2") format("woff2"),
    url("../fonts/AvenirNextCondensed-Regular.wof") format("wof"),
    url("../fonts/AvenirNextCondensed-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'Journey_Regular';
    src: url("../fonts/Journey_Regular.woff2") format("woff2"),
    url("../fonts/Journey_Regular.wof") format("wof"),
    url("../fonts/Journey_Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
} 


@font-face {
    font-family: 'Journey_Light';
    src: url("../fonts/Journey_Light.woff2") format("woff2"),
    url("../fonts/Journey_Light.wof") format("wof"),
    url("../fonts/Journey_Light.otf") format("otf");
    font-weight: normal;
    font-style: normal;
} 
